{% extends "base.html" %}
{% load static %}

{% block title %} House {% endblock %}

{% block head_block %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/media/icons/favicon.ico" />
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
{% endblock %}

{% block content %}

{% endblock %}

{% block map_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_KEY }}&libraries=places"></script>
<script type="text/javascript">
    var map;
    var service;
    var infowindow;
    function initMap() {
        var sydney = new google.maps.LatLng(-33.867, 151.195);

        infowindow = new google.maps.InfoWindow();

        map = new google.maps.Map(
            document.getElementById('map'), 
            {center: sydney, 
            zoom: 13,
            gestureHandling: 'greedy'
            });

        var request = {
            query: 'Museum of Contemporary Art Australia',
            fields: ['name', 'geometry'],
        };

        service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, function(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i]);
            }

            map.setCenter(results[0].geometry.location);
            }
        });
    }
    $(window).load(initMap);
  </script>

{% endblock %}

{% block drawer %}
{% include "housemanage/drawer.html" %}
{% endblock %}

