
html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
  }
/**********Select for base map***********/
#selector {
position: absolute;
left: 5%;
z-index: 10;
padding: 8px;
border-radius: 4px;
border: 2px solid black;
color: #000;
top: 70px;
font-size: 1.6em;
background-color: #d4d4d4a3;
}
#overlayselector {
position: absolute;
left: 5%;
z-index: 10;
padding: 8px;
border-radius: 4px;
border: 2px solid black;
color: #fff;
top: 20px;
font-size: 1.6em;
background-color: #4dc351;
}
#layerselector{
    position: absolute;
    right:25%;
    z-index:10;
    padding:5px;
    border-radius:4px;
    color:#666;
    top:20px;
    }

#topbar{
height: 40px;
text-align: right;
font-size: 1.2em;
margin-right: .5%;
height:50px;
text-align: right;
font-size: 1.2em;
background:#fff;
position: relative;
width:100%;
top:0;
z-index:99;
box-shadow: 10px 10px 5px #aaaaaa;
}
.leaflet-bottom .leaflet-control-scale {
margin-bottom: 40px;
}

.leaflet-left .leaflet-control-scale {
margin-left: 5px;
bottom: 40px;
}
#categories{
text-align: center;

}
/* LIST of geocoded addresses*/
#results{
background-color: #fff;
width: 90%;
list-style: none;
cursor: pointer;
width: 75%;
align-content: center;
left: 5%;
margin-left: 5%;
border-radius: 5px;
overflow:auto;
box-shadow: 10px 5px 5px gray;

}
ul li:hover {
background-color: yellow;

}
img{
padding-right:5px;
padding-left: 10px;
cursor:pointer;
}

p{
font-size:1.05em;
}

/********** Legend ***************/
div.cartodb-legend{
left: 2px;
width: 125px;
bottom: 120px;
display: block;
}
/********** Point deleted window ***************/
.ui-dialog-content ui-widget-content{
background-color:#4caf50;
}
/*************** Categories ****************/
div.catchange_child{
background-color:#fff;
margin-right:75px;
}
/********** Buttons for Carto layers ***************/
.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 10px 12px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.6em;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
}

.button1 {
background-color: #e0e0e0; 
color: black; 
border: 2px solid #4CAF50;
}

.button1:hover {
background-color: #4CAF50;
color: white;
}

.button2 {
background-color: #e0e0e0; 
color: black; 
border: 2px solid #008CBA;
}

.button2:hover {
background-color: #008CBA;
color: white;
}
#drawer{
  padding: 10px 10px;
  padding-top: 50px;
  width: 300px;
  float: right;
  z-index: 9;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  /* margin: 10px 10px; */
  background: white;
}